{{ $name := promptString "name" }}
{{ $email := promptString "email" }}

[data]
	email = "{{ $email }}"
	name = "{{ $name }}"

[diff]
    pager = "delta"

encryption = "gpg"
[gpg]
    recipient = "B6EEF2F6A5ABF833927091F70355FC4371714951"

[merge]
    command = "nvim"
    args = "-d"

