{{- $bwserver := "" -}}
{{- if hasKey . "bwserver" -}}
{{-   $bwserver = .bwserver -}}
{{- else -}}
{{-   $bwserver = promptString "bitwarden server url" -}}
{{- end -}}

[diff]
    pager = "delta"

encryption = "gpg"
[gpg]
    recipient = "B6EEF2F6A5ABF833927091F70355FC4371714951"

[merge]
    command = "nvim"
    args = "-d"

[data]
    bwserver = {{ $bwserver | quote }}
