{{- if lookPath "fish" -}}
#!/usr/bin/env fish
# original: https://github.com/neersighted/dotfiles/blob/master/private_dot_config/fish/run_once_after_fisher.fish.tmpl

if not functions -q fisher
  curl -sSL https://git.io/fisher | source
else
  echo "Fisher already installed. Update.."
end

fisher update

# run_once hash: {{ include "private_dot_config/private_fish/fish_plugins" | sha256sum }}
# vi: ft=fish
{{- end -}}
