{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" || true
    brew bundle --file=~/.Brewfile || true
else
    echo "Brew already installed. Skipping.."
fi

if ! fish -c "fisher -v"  &> /dev/null
then
    curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
else
    echo "Fisher already installed. Skipping.."
fi

fish -c "fisher update"
{{ end -}}
