{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" || true
brew bundle --file=~/.Brewfile || true
fisher update
{{ end -}}
