{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh

if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" || true
    eval "$(/opt/homebrew/bin/brew shellenv)"
    brew bundle --file=~/.config/Brewfile || true
    if test -d /opt/homebrew; then
        HOMEBREW_HOME=/opt/homebrew
    elif test -d /home/linuxbrew/.linuxbrew; then
        HOMEBREW_HOME=/home/linuxbrew/.linuxbrew
    else
        HOMEBREW_HOME=/usr/local
    fi
    if ! grep -q fish /etc/shells; then
        sudo sh -c "echo $HOMEBREW_HOME/bin/fish >> /etc/shells"
        chsh -s $HOMEBREW_HOME/bin/fish
    fi
    export PATH=$HOMEBREW_HOME/bin:$PATH
    bw config server {{ .bwserver }}
    exit 0
fi

echo "Brew already installed. Update.."

INSTALLED_FORMULAE=(`brew list --formula --quiet | sort -r`)
INSTALLED_CASK=(`brew list --cask --quiet | sort -r`)

SAVED_CASK=(`cat ~/.config/Brewfile | grep -v -E "^(tap|mas|brew)" | sed -E 's@^cask\s+\"@@' | sed  s@'".*$@@' | sort`)
SAVED_FORMULAE=(`cat ~/.config/Brewfile | grep -v -E "^(tap|mas|cask)" | sed -E 's@^brew\s+\"@@' | sed  s@'".*$@@' | sort`)

CASK=("${SAVED_CASK}")
for element in "${INSTALLED_CASK[@]}"; do
    CASK=(${CASK[@]/$element})
done

typeset -A del_formulae
FORMULAE=()
for element in "${INSTALLED_FORMULAE[@]}"; do
    del_formulae[$element]=1
done
for k in "${SAVED_FORMULAE[@]}"; do
    if [[ ! "${del_formulae[$k]}" ]]; then
        FORMULAE=($k)
    fi
done

typeset -A del_cask
CASK=()
for element in "${INSTALLED_CASK[@]}"; do
    del_cask[$element]=1
done
for k in "${SAVED_CASK[@]}"; do
    if [[ ! "${del_cask[$k]}" ]]; then
        CASK=($k)
    fi
done

if [ ${#FORMULAE[@]} -gt 0 ]; then
    set -x
    brew install "${FORMULAE[@]}"
    set +x
fi

if [ ${#CASK[@]} -gt 0 ]; then
    set -x
    brew install --cask "${CASK[@]}"
    set +x
fi
# run_once hash: {{ include "private_dot_config/Brewfile" | sha256sum }}
# vi: ft=fish
{{ end -}}
