{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

if ! command -v brew &> /dev/null
then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" || true
else
    echo "Brew already installed. Update.."
fi
brew bundle --file=~/.config/Brewfile || true

# run_once hash: {{ include "private_dot_config/Brewfile" | sha256sum }}
# vi: ft=fish
{{ end -}}
