host oh *.visualstudio.com
 HostName project.visualstudio.com
 User user\@mail.com
 IdentityFile ~/.ssh/oh

host *.mo.com
 IdentitiesOnly yes
 IdentityFile ~/.ssh/mo

host *.motherbase.io motherbase.io
 IdentitiesOnly yes
 IdentityFile ~/.ssh/motherbaseio