[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = B6EEF2F6A5ABF833927091F70355FC4371714951
[branch]
	autosetupmerge = always
	autosetuprebase = always
	sort = -committerdate
[core]
	autocrlf = input
{{ if (eq .chezmoi.os "darwin") }}
	editor = "/usr/bin/vim"
{{ else }}
 safecrlf = false
 editor = "'C:/Program Files/Sublime Text 3/subl.exe' -w"
{{ end }}
	eol = lf
	excludesfile = ~/.config/git/gitignore
	pager = delta
	# Make `git rebase` safer on macOS.
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	attributesfile = ~/.config/git/attributes
[commit]
	gpgsign = true
[credential]
	helper = cache
[diff]
	tool = p4merge
[diff "bin"]
	textconv = hexdump -v -C
[difftool]
	prompt = false
[difftool "p4merge"]
	cmd = p4merge "$LOCAL" "$REMOTE"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[http]
	sslVerify = false
	postBuffer = 157286400
[init]
	defaultBranch = main
	templatedir = ~/.config/git/template
[merge]
	keepBackup = false
	tool = p4merge
[mergetool]
	prompt = false
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[pull]
	rebase = true
	ff = only
[rebase]
	autoStash = true
[include]
	path = alias.toml
	path = style.toml
[includeIf "gitdir:~/.local/share/chezmoi/**"]
	path = ~/.config/git/gitconfig_perso.toml
[includeIf "gitdir:~/Developer/Perso/**"]
	path = ~/.config/git/gitconfig_perso.toml
