[branch]
	autosetupmerge = always
	autosetuprebase = always
	sort = -committerdate
[core]
	autocrlf = false

	editor = "/usr/bin/vim"

	eol = native
	excludesfile = ~/.config/git/gitignore
	pager = delta
	# Make `git rebase` safer on macOS.
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	attributesfile = ~/.config/git/attributes
[commit]
	template = ~/.config/git/git-templates/message
[credential]
	helper = cache
[diff]
	tool = p4merge
[diff "bin"]
	textconv = hexdump -v -C
[difftool]
	prompt = false
	keepBackup = false
[difftool "p4merge"]
	cmd = p4merge "$LOCAL" "$REMOTE"
	keepTemporaries = false
	trustExitCode = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[http]
	sslVerify = false
	postBuffer = 157286400
[init]
	defaultBranch = main
	templatedir = ~/.config/git/git-templates/templates
[merge]
	tool = p4merge
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
[pull]
	rebase = true
[rebase]
	autoStash = true
[include]
	path = alias.toml
	path = style.toml
[includeIf "gitdir:~/.local/share/chezmoi/**"]
	path = ~/.config/git/config_perso.toml
[includeIf "gitdir/i:~/Developer/Perso/**"]
	path = ~/.config/git/shared_config.toml
	path = ~/.config/git/config_perso.toml
{{- if .work.dir }}
[includeIf "gitdir/i:~/Developer/{{ .work.dir }}/**"]
	path = ~/.config/git/shared_config.toml
	path = ~/.config/git/{{ .work.config }}
{{- end }}
[http "https://{{ .forge.host }}/"]
	sslCert = /Users/fredericrous/certs/gitea-client-active.pem
[amont "agent.bare-stash-pop"]
	stance = deny
[amont "agent.no-verify"]
	stance = deny
[amont "agent.gh-pr-merge-auto"]
	stance = deny
[amont "agent.git-add-broad"]
	stance = observe
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[amont "agent.stdin-hang"]
	stance = deny
[amont "agent.sed-in-place"]
	stance = deny
[amont "agent.foreground-poll"]
	stance = deny
